.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.para {
  font-weight: 500;
  text-align: right;
}
.right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
